--no-binary :all:
setuptools==68.2.2
wheel==0.41.2

--only-binary :all:
langchain==0.0.330
python-dotenv==1.0.0
fastapi==0.95.2
uvicorn==0.23.2
python-multipart==0.0.6
sentence-transformers==2.2.2
faiss-cpu==1.11.0
numpy==1.24.4
torch==2.0.1
transformers==4.30.2
groq==0.4.2
unstructured==0.16.17
python-docx==1.1.2
python-pptx==1.0.2
pypdf==3.11.0
scikit-learn==1.2.2
scipy==1.10.1
pandas==2.0.3